<!DOCTYPE html>
<style>
  .singlePage {
      display: flex;
  }
  
  aside {
      width: 20%;
      padding: 20px;
  }
  
  article {
      width: 80%;
      padding: 20px;
  }
  </style>
  
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <aside>
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    </aside>
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
