<!DOCTYPE html>
<style>
aside {
  width: 20%;
  float: left;
  padding: 0;
}

article {
  width: 80%;
  float: right;
  padding: 0;
}
</style>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <aside>
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    </aside>
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
